* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 350px;
    background-color: #353535;
    justify-content: center;
    align-items: center;
    display: flex;
}

body{
    height: 100vh;
    flex-direction: column;
    display: flex;
    gap: 180px;


}
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
}

header h1 {
    color: white;
    font-family: monospace;
    text-transform: capitalize;
    font-size: 4em;
}

img {
    width: 350px;
    border-radius: 37px;

}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
}


p {
    width: 350px;
    font-family: monospace;
    font-size: 2.4em;
}

button {
    background-color: #ffffff;
    font-size: 30px;
    border-radius: 15px;
    transition-duration: 0.4s;
    float: right;
    width: 100%;
    text-decoration: none;
}

button:hover {
    background-color: rgb(69, 41, 135);
    color: white;
}

footer {
    padding: 30px;
    background-color: #353535;
}